#return-gpb
{
    background-color: rgb(120,130,240);
    color: white;
    font-size: 30px;
}
#error
{
    background-color: rgb(120,130,240);
}
#error-page
{
    height: 100%;
    background-color: rgb(120,100,240);
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content : space-around;
	align-items: center;
	font-size: 30px;
	color: white;
}
#oc-logo-right
{
    position: absolute;
    top: 5%;
    left: 90%;
}
#oc-logo-left
{
    position: absolute;
    top: 5%;
    left: 10%;
}
#gpb-title
{
    font-style: italic;
    color: rgb(120,130,240);
    text-align: center;
    font-size: 30px;
}
#gpb-hello
{
    text-align: center;
}
#search-box
{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content : space-around;
	align-items: center;
}
#button
{
    position: absolute;
    top: 10%;

}
body
{
    height: 500px;
    background-color: white;
}
footer
{
    position: absolute;
    top: 90%;
    left: 35%;
    font-style: italic;
	font-family: "Times New Roman", Times,"Agency FB", serif;
	font-size: 10px;
	text-align: center;
}
header
{
    height: 50px;
    font-family: "Times New Roman", Times,"Agency FB", serif;
    font-size: 11px;
}
#topper h2
{
    text-align: center;
    margin: auto;
}
#form-area
{
        position: relative;
        height: 50%;
        width: 100%;
        top: 20%;
}
.GPB
{
    color: white;
}


#research
{
    width: 45%;
    border: 1px solid purple;
}
#response
{
    text-align: left;
    font-family: Arial, "Agency FB", sans-serif;
    font-size: 30px;
	position: absolute;
    left: 5%;
    top: 40%;
    height:80%;
    width: 45%;
    border: white;
    resize: none;
    color: rgb(100,100,300);
}
html
{
    height: 100%;
    margin: 0;
    padding: 0;
}
#place-container
{
	position: absolute;
    top: 40%;
    left: 55%;
    height:80%;
    width: 45%;
}
#place
{
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content : space-around;
	align-items: center;
	height: 400px;
	width: 500px;
}
#place:nth-child(1)
{
    order: 2
}
.loader-container
{
	opacity: 0;
	position: absolute;
    top: 30%;
    height: 120%;
    width: 100%;
    background-color: white;
    transition: opacity 1s ease-in-out, visibility 2s ease-in-out;
}

#loader
{
    height: 100px;
    width: 100px;
    border: 50px solid purple;
    border-top: 50px solid white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 1 0 6px 2px rgba(0,0,0,1);
    background-color: white;
    animation: loader 1s linear infinite;
}
#loader:nth-child(1)
{
    order: 2
}
@keyframes loader
{
    0%
    {
        transform: translate(-50%, -50%) rotate(270deg);
    }
    100%
    {
        transform: translate(-50%, -50%) rotate(630deg);
    }
}
/* For vertical mobile screens */
@media screen and (min-height: 1742px)
{
    #button
    {
        height: 100%;
        width: 10%;
    }
    #gpb-hello
    {
        font-family: "Times New Roman", Times,"Agency FB", serif;
        font-size: 16px;
        text-align: center;
    }
    body
    {
        height: 100%;
    }
    #form-area
    {
        position: absolute;
        top: 8%;
        width: 100%;
        height: 55%;
    }
    #search-box
    {
        position: relative;
        top: 90%;
        width: 100%;
        height: 10%;
    }
    #research
    {
        position: relative;
        top: -100%;
        font-size: 40px;
        height: 100%;
        width: 75%;
    }
    #response
    {
        text-align: center;
        font-size: 40px;
        position: relative;
        top: 30%;
        width: 80%;
        height: 50%;
        left: 10%;
    }
    #place-container
    {
	    position: absolute;
	    top: 80%;
	    left: 30%;
	    height: 50%;
	    text-align: center;
    }
    #place
    {
        height: 300px;
        width: 600px;
        position: relative;
        top: 10%;
        left: -20%;
    }
    footer
    {

        position: absolute;
        top: 90%;
        left: 1%
    }
    .designer
    {
        font-size: 20px;
    }
    #loader
    {
        position: relative;
        left: 60%;
    }
}
/*For every horizontal mobile screens*/
@media screen and (max-height: 1000px)
{

    body
    {
        height: 660px;
    }
    header
    {
        height: 5%;
        font-family: "Times New Roman", Times,"Agency FB", serif;
        font-size: 10px;
    }
    #gpb-title
    {
        font-size: 10px;
    }
    #search-box
    {
        position: relative;
        top: 10%;
        left: 25%;
        width: 50%;
    }
    #button
    {
       top: 150%;
    }
    #research
    {
        height: 60%;
        width: 80%;
    }
    #form-area
    {
        height: 370px;
        position: relative;
        top: 0%;
    }
    #place-container
    {
	    position: absolute;
	    top: 30%;
	    left: 55%;

    }
    #place
    {
	    height: 100%;
	    display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    justify-content : space-around;
	    align-items: center;
	    height: 100%;
	    width: 100%;
    }
    #response
    {
        text-align: left;
        font-size: 20px;
      	position: absolute;
      	top: 50%;
        left: 0%;
        width: 45%;
        height: 50%;
    }
    .loader-container
    {
	    position: absolute;
	    height: 90%;
        top: 100%;
        left: 0%;
    }
    footer
    {
        position: absolute;
        top: 90%;
        left: 20%;
    }
}
/* long vertical mobiles screens */
@media screen and (max-width: 1000px)
{
    body
    {
        height: 100%;
    }
    #gpb-hello
    {
        text-align: center;
        width: 50%;
        margin: auto;
    }
    #search-box
    {
        display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    justify-content : space-around;
	    align-items: center;
	    position: absolute;
	    top: 20%;
    }
    #response
    {
        font-size: 20px;
    }
}
@media screen and (min-width: 1500px)
{
    #gpb-hello
    {
        text-align: center;
        width: 70%;
        margin: auto;
        font-size: 15px;
    }
    #place
    {
        width: 800px;
        height: 200px;
    }
}

