body
{
    background-color: purple;
}
.GPB
{
    color: white
}
#research
{
    width: 800px
}
#response
{
    background-color: rgb(238, 130, 238);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content : space-around;
	align-items: center;
	border: 2px solid #444;
	height: 200px;
	border: 5px solid #444;
}
#gmap
{
    height: 45%;
    width: 100%;
    align-items: center;
}
html, body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

#divplace
{
	height: 45%;
    width: 100%;
    align-items: center;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content : space-around;
	border: 2px solid #444;
	border: 5px solid #444;
	background-color: brown;
}
