# Created by .ignore support plugin (hsz.mobi)
*.idea
/.pytest_cache
/00_auto_install
/backup
/cours
/Include
/Lib
/Scripts
/SQLITE
/tcl
/tests
/00_auto_install.zip
/auto_install.bat
/start_server.bat
/start_server_with_main.py.bat
/start_tests.bat















