<body>
    {% include 'components/header.html'%}
        <script>"use strict";let map;function initMap(){}</script>
        <form id="form-area">
            <div id="search-box">
                <input type="text" id ="research" name="research"/>
                <div id ="button">
                    <input type="image" alt="Boutton de validation - (Envoyer)"  src="{{ url_for('static', filename='png/gpb.png') }}" />
                </div>
            </div>
            <textarea id="response" readonly="True">response</textarea><br />
            <textarea id="haiku" readonly="True">Mes Haikus</textarea><br />
            <div id="place-container">
                <div id="place"></div>
            </div>
            <div class="loader-container">
                <div id="loader"></div>
            </div>
            <script type="text/javascript" src="{{ url_for('static', filename='js/treatment.js') }}"></script>
            <script src="{{ gmap_url }}" defer="true" id="init"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/loading.js') }}"></script>
        </form>
    {% include 'components/footer.html'%}
</body>