<body>
        <fieldset>
        <legend class="GPB">GrandPyBot - by Stephen A.OGOLO</legend>
        <form id="form-area">
            <h1>
                {{ mot }}
            </h1>
            <p>
                <label class="your_text" for="recherche">Que puis-je faire pour vous ?</label><br />
                <input type="text" id ="research" name="research"/>
                <input type="submit" />
            </p>
                <script type="text/javascript" src="{{ url_for('static', filename='js/treatment.js') }}"></script>

            <script type="text/javascript" src="{{ url_for('static', filename='js/mediawiki.js') }}"></script>
            <div id="response">
                {{ response }}
            </div>
        </form>
        </fieldset>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAo5fjwftbiDE2hvr8TY8jzUHJdSqA2Tu0&callback=initMap" type="text/javascript"></script>
        <!--<script type="text/javascript" src="{{ url_for('static', filename='js/gmap.js') }}"></script>-->
        <script>
                "use strict";
                let map;
                function initMap()
                {
                    map = new google.maps.Map(document.getElementById("gmap"),
                    {

                        center: { lat: {{ place['lat'] }} , lng: {{ place['lng'] }} },
                        zoom: 9
                    });
                    marker = new google.maps.Marker(
                    {
                        position: { lat: {{ place['lat'] }} , lng: {{ place['lng'] }} },
                        map: map
                    })
                }
        </script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/gmap2.js') }}"></script>
        <div id="gmap">
        </div>
        <div id="divplace">
        </div>
</body>
