<header>
    <div id="block-head">
    <div id="oc-logo-left">
        <h1>
            <img src="{{ url_for('static', filename='png/oc.png') }}" alt="logo de OpenClassRooms">
        </h1>
    </div>
    <div id="oc-logo-right">
        <h1>
            <img src="{{ url_for('static', filename='png/oc.png') }}" alt="logo de OpenClassRooms">
        </h1>
    </div>
    <div id="gpb-title">
        <h1>- GrandPyBot -</h1>
    </div>
    <div id="gpb-hello">
        <h2>{{ mot }}</h2>
    </div>
    </div>
</header>
