<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GrandPyBot</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css')}}">
</head>
<body>
    <fieldset>
        <legend class="GPB">GrandPyBot - by Stephen A.OGOLO</legend>
        <form id="form-area">
            <h1>
                Bonjour !!!!
            </h1>
            <p>
                <label class="your_text" for="recherche">Que puis-je faire pour vous ?</label><br />
                <input type="text" id ="research" name="research"/>
                <input type="submit" />
            </p>
            <div class="response">

            </div>
        </form>
        <script>
            let form = document.querySelector("#form-area")
        </script>
    </fieldset>

</body>
</html>