<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/custom.css')}}">
    <title>GrandPyBot</title>
</head>
<body id="error">
    <div id="error-page">
        <h1>
            Désolé !!! Je n'ai aucune autre page à vous proposer...
        </h1>
        <p class="404">
            Erreur 404 !!!
        </p>
    </div>
    <div id="return-gpb">
        <p>
            Retour à <a href="/">GrandPyBot</a>
        </p>
    </div>
</body>
</html>